@import 'theme-variables';
@import 'theme';
@import 'responsive';

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    button {
        background: none;
        border: 0;
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 10px;
}